main {
    width: 100%;
}

.conteudo {
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-top: 5em;
}

.conteudo-container {
    width: 40%;
}

.conteudo-titulo {
    font-size: 80px;
    font-weight: 700;
}

.conteudo-descricao {
    color: var(--cinza-medio);
    font-size: 20px;
    line-height: 1.5em;
    margin: 3em 5em 4em 0em;
}

.conteudo-link {
    background-color: var(--preto);
    border-radius: 15px;
    color: var(--branco);
    font-size: 20px;
    font-weight: 700;
    padding: 1em 2em;
    text-decoration: none;
}

.conteudo-link:hover {
    color: var(--preto);
    background-color: transparent;
    border: 1px solid var(--preto);
}

.conteudo-lista {
    align-items: center;
    display: flex;
    margin-left: -1.5em;
    margin-top: 8em;
}

.conteudo-lista li {
    margin: 0 1.5em;
}

.conteudo-imagem {
    width: 530px;
}
