@import url(navegacao.css);
@import url(conteudo.css);

:root {
    --quase-branco: #fafafa;
    --cinza-medio: #696969;
    --preto: #000000;
    --branco: #ffffff;

    --fonte-principal: 'Epilogue', sans-serif;
}

body {
    background-color: var(--quase-branco);
    font-family: var(--fonte-principal);
}