.nav-lista {
    margin: 1.5em 2.5em;
}

.nav-lista a {
    color: var(--cinza-medio);
    display: block;
    text-decoration: none;
}

.nav-lista a:hover {
    color: var(--preto);
}

.nav-item {
    float: left;
    padding: 1em 0;
}

.nav-logo {
    margin-right: 4em;
}

.nav-features {
    margin-right: 2em;
}

.nav-features::after {
    content: url(../img/icon-arrow-down.svg);
    margin-left: .3em;
}

.features-list {
    display: none;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(94, 92, 92, 0.116);
    left: 7em;
    margin-top: 1.2em;
    padding: 0 1.5em;
    position: absolute;
}

.features-list a {
    margin: 1.5em 0;
}

.list-icon::before {
    content: url(../img/icon-todo.svg);
    margin-right: 1em;
}

.calendar-icon::before {
    content: url(../img/icon-calendar.svg);
    margin-right: 1em;
}

.reminders-icon::before {
    content: url(../img/icon-reminders.svg);
    margin-right: 1em;
}

.planning-icon::before {
    content: url(../img/icon-planning.svg);
    margin-right: 1em;
}

.nav-company::after {
    content: url(../img/icon-arrow-down.svg);
    margin-left: .3em;
}

.company-list {
    display: none;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(94, 92, 92, 0.116);
    margin-top: 1.2em;
    padding: .5em 1.5em;
    position: absolute;
}

.company-list a {
    margin: 1em 0;
}

.nav-careers,
.nav-company {
    margin-right: 2em;
}

.nav-button {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.login-button {
    background-color: transparent;
    border: none;
    margin-right: 3em;
}

.login-button a {
    color: var(--cinza-medio);
    font-family: var(--fonte-principal);
    font-size: 16px;
    text-decoration: none;
}

.login-button a:hover {
    color: var(--preto);
}

.register-button {
    border: 2px solid var(--cinza-medio);
    border-radius: 15px;
    color: var(--cinza-medio);
    margin-right: 3em;
    padding: .8em 1.3em;
    text-decoration: none;
}

.register-button:hover {
    border: 2px solid var(--preto);
    color: var(--preto);
}

.mobile-menu-icon {
    display: none;
}

.nav-logo-mobile {
    display: none;
}

.mobile-menu {
    display: none;
}

.nav-button-mobile {
    display: none;
}

@media screen and (max-width: 850px) {
    .nav-button {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
        justify-content: flex-end;
        margin-right:  1em;
        position: fixed;
        right: 0px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .nav-logo-mobile {
        display: block;
        margin-left: 15px;
    }

    .mobile-menu ul a {
        color: var(--cinza-medio);
        text-decoration: none;
    }

    .mobile-menu 
    .login-button 
    .register-button {
        display: block;
        padding: 1rem 2rem;
    } 

    .mobile-menu 
    .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .nav-lista-mobile {
        align-items: flex-start;
        background-color: var(--branco);
        border-radius: 15px;
        box-shadow: 0px 0px 20px 2px rgba(94, 92, 92, 0.116);
        display: flex;
        flex-direction: column;
        height: 80%;
        margin-top: 1em;
        padding: 1.5em;
        position: absolute;
        right: 0;
        text-align: center;
        width: 50%;   
    }

    .nav-item {
        display: none;
        padding: .5em 0;
    }

    .features-list-mobile li,
    .company-list-mobile li {
        margin: 1.5em;
        text-align: left;
    }

    .nav-features {
        margin-right: 5em;
    }

    .features-list-mobile> li:nth-child(4) {
        margin-bottom: 0;
    }

    .company-list-mobile> li:nth-child(3) {
        margin-bottom: 0;
    }

    .nav-button-mobile {
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .login-button {
        margin-right: 0em;
        margin-top: 1.5em;
    }

    .register-button {
        margin-right: 0em;
        margin-top: 1em;
        padding: .8em 3.5em;
    }

    .open {
        display: block;
    }
}