.nav-lista a {
    color: var(--cinza-medio);
    display: block;
    padding: .2em 3em 1em 0em;
    text-decoration: none;
    margin-top: .75em;
}

.nav-lista a:hover {
    color: var(--quase-preto);
}

.nav-lista {
    margin: 1.5em 2.5em;
}

.nav-item {
    float: left;
}

.nav-logo {
    margin-right: 4em;
    margin-top: .8em;
}

.nav-features::after {
    content: url(../img/icon-arrow-down.svg);
    margin-left: .3em;
}

.nav-company::after {
    content: url(../img/icon-arrow-down.svg);
    margin-left: .3em;
}

.features-list, .company-list {
    display: none;
}

.nav-button {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.login-button {
    background-color: transparent;
    border: none;
    margin-right: 3em;
}

.login-button a {
    color: var(--cinza-medio);
    font-family: var(--fonte-principal);
    font-size: 16px;
    text-decoration: none;
}

.login-button a:hover {
    color: var(--quase-preto);
}

.register-button {
    border: 2px solid var(--cinza-medio);
    border-radius: 15px;
    color: var(--cinza-medio);
    margin-right: 3em;
    padding: .8em 1.3em;
    text-decoration: none;
}



